body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {

  background-color: #aaa;
  border-radius: 10px;
  padding: 20px 10px 40px;

  margin: 20px 0;

  label {
    display: block;
    margin-bottom: 20px;

    span {
      display: inline-block;
      min-width: 200px
    }
  }

  button {
    float: right;
    margin-right: 20px;
  }
}

button.showForm {
  margin: 20px 0;
}

.animal-list {
  article {
    background-color: #aaa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    &:nth-child(odd) {
      background-color: #bbb;
    }
  }
}